{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>My notes for a day</title>
</head>
<body>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen></iframe>
	<h1>One more day at work</h1>

	<p>God bless home-office!:</p>

	<h2>Morning</h2>
	<ul>
		<li>7:00am - 8:00am: Hug a cat</li>
		<li>8:00am - 8:30am: Eat and panic</li>
		<li>8:30am - 12:00am: Try being productive</li>
	</ul>

	<h2>Afternoon</h2>
	<ul>
		<li>12:00pm - 1:00pm: Lunch break</li>
		<li>1:00pm - 2:00pm: Stop trying, it's useless</li>
		<li>2:00pm - 3:00pm: Work on a small Python project</li>
		<li>3:00pm - 4:00pm: Get a sudden call from your boss</li>
        <li>4:00pm - 5:00pm: Panic!</li>
	</ul>

	<h2>Evening</h2>
	<ul>
		<li>5:00pm - 6:00pm: Cook something, eat, take a walk, relax, that's over</li>
		<li>7:00pm - 8:00pm: Work on your Python project</li>
		<li>8:00pm - 9:00pm: Study Python hugging a cat</li>
	</ul>

	<p>Good night</p>

</body>
</html>